// Third library
@import "kouto-swiss"
@import "base/base"

html,
body
  height 100%
  min-height 100%
body
  position relative

.logo-nied
  position relative
  display block
  size 400px
  background url('../images/logo-nied.svg') no-repeat center center
  transform translate(-50%, -50%)
  top 50%
  left 50%





