doctype
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
html(lang="es").no-js
  <!--<![endif]-->
  head
    meta(charset='utf-8')
    title Nied Page
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block head
      include partials/head.jade
  body

    <!--[if lt IE 8]>
    .browsehappy
      p
        | Está utilizando un navegador <strong>obsoleto</strong>
        | Por favor <a href="http://browsehappy.com/">actualice su navegador</a>
        | para mejorar su experiencia.
    <![endif]-->

    div.logo-nied
    h1 Nied

    block header
      include partials/header.jade

    block content

    block footer
      include partials/footer.jade

    block scripts
      include partials/scripts.jade